
/* *{
	text-align: right ;
}*/


body{
	background-image: url(backgroundimage.jpeg);
	background-size: cover;
}

header{
	background-color: #FFAAAA;
}


h2 + p {
	color: darkred;
	font-size: 30px;
	border-style: solid;
	border-color: rgba(255, 174, 170, 0.5);
	cursor: pointer;
	text-align: center

}
section{
	text-align: center;
}


li{
	list-style: none;
	display: inline-block;
	
}

.Webtext:first-child{
	font-size: 20px;
	border: solid lightsalmon;
	color: orangered;
	
}

.active{
	color: darkred;
	
}

#div1{
	background: rgba(255, 0, 0, 0.1);
}

#div2{
	background: rgba(255, 236, 80, 0.2);
}






